@model IEnumerable<MobileInfo.Models.Mobile>

@{
    ViewBag.Title = "BrandMobiles";
}


<div class="container">

    @foreach (var item in Model)
    {
        if (item.BrandId == @ViewBag.linkableId)
        {
            <div class="col-md-2" style="margin-bottom:25px; margin-right:87px">
                <div>
                    <div class="Images">
                        <a href="@Url.Action("MobileDetails", "Home", new { id = item.Id })">
                            <img src="@Url.Content(item.Picture)" style="vertical-align: middle; width: 150px; height:150px">
                        </a>
                    </div>
                    <div class="caption" style=" border-top: 3px solid">
                        <h4> @Html.ActionLink(@item.Name, "MobileDetails", new { id = item.Id }) </h4>
                        <h5> @item.Price</h5>
                    </div>
                </div>
            </div>
        }

    }
</div>

<br />
<br />
<br />
<br />
<br />
<br />
